div[slot='footer']{
    color: white; 
    background-color: #E96321; 
    padding: 10px; 
    border-radius: 5px;
}

div[slot='footer'] a {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

div[slot='footer'] a:hover {
    color: black;
}

.detail-reference-link {
	background-color: #F1F1F1;
	border-color: #F1F1F1;
}