.info {
    background-color: #0176D3;
    border-color: #FFFFFF;
    color: #ffffff;
}

.info:hover {
    background-color: #0461ab;
    color: white;
    cursor: pointer;
}

.selected-info {
    background-color: #0461ab;
}

.info-zero-count {
    background-color: #e7e7e7;
    color: #0076D3;
    border-color: #FFFFFF;
}