.bgcolor-success {
    background-color: #41B06E;
}

.bgcolor-destructive {
    background-color: #DD5746;
}

.bgcolor-totalFields {
    background-color: #8F845A;
}

.white-font-color {
    color: white;
}

div[slot='footer']{
    color: white; 
    background-color: #E96321; 
    padding: 10px; 
    border-radius: 5px;
}

div[slot='footer'] a {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

div[slot='footer'] a:hover {
    color: black;
}