.bgcolor-success {
    background-color: #41B06E;
}

.bgcolor-destructive {
    background-color: #DD5746;
}

.bgcolor-totalFields {
    background-color: #8F845A;
}

.white-font-color {
    color: white;
}